body{
	background-color: aliceblue;
}

h1{
	color:brown; 
	text-align: center;
}

.textopt{
	color: blue;
	font-weight: 900;
	font-family: sans-serif;
}

header{
	border-bottom: 1px solid black;
}


p{
	text-indent:1em; font-size: 1em;
	font-family:휴먼편지체, serif;
}

footer{
	background-color: orange;
	border-radius: 8px;
}

form{
	background-color: pink;
	padding-left: 5px;
	padding-right: 5px;
	margin: 10px;
}

